
<div id="{{ frog.shortname }}" class="card" style="margin-top: 1em;">
  <header class="card-header">
    <div class="card-header-title">
        <div class="title is-4">{{ frog.name }}</div>
    </div>
    <a href="#map" class="card-header-icon frog-map-icon" aria-label="map">
      <span class="icon is-medium">
        <i class="fas fa-lg fa-map-marked-alt" aria-hidden="true"></i>
      </span>
    </a>
  </header>
  <div class="card-image">
    <figure class="image is-48by48">
      <img src="{{ "/assets/frogs/square/" | append: frog.shortname | append: ".jpg" | relative_url }}" alt="{{ "Image of " | append: frog.name }}">
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
      {{ frog.blurb }}
      
    </div>
    <div>
      <a href="{{ frog.url }}">Read more about {{ frog.name }}</a>
    </div>
  </div>
</div>
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Save changes</button>
      <button class="button">Cancel</button>
    </footer>
  </div>
</div>

<script>
document.addEventListener('click', function (event) {

  // If the clicked element doesn't have the right selector, bail
  if (!event.target.matches('.read-more')) return;

  // Don't follow the link
  event.preventDefault();

  // Log the clicked element in the console
  console.log(event.target);

}, false);
</script>
